body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: green;
  color: white;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

footer {
  background-color: green;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.news-banner {
  background-color: green;
  color: white;
  margin-top: 20px;
}

.palmares-item {
    display: flex; /* Utiliser la flexbox pour aligner les éléments */
    align-items: center; /* Aligner les éléments verticalement */
}
.palmares-item img {
    margin-right: 10px; /* Ajouter un espace entre l'image et le texte */
}

.palmares-item p {
    font-size: 40px; /* Augmenter la taille du texte à 18 pixels */
    color: green;
}
.carousel {
    position: relative;
    width: 80%;
    max-width: 600px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    transition: opacity 1s ease-in-out;
}

.carousel-item img {
    width: 100%;
    display: block;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2em;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    outline: none;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}


