.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: black;
  color: white;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

body {
  background-image: url('../img/cover.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

p, h1, h2, h3 {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.content {
  text-align: center;
  background-color: grey;
  width:1000px;
  height:1000px;
  margin-left: 225px;
}

.rond1{
border-radius:50%;
width:100px;
height:100px;
background-image: url('../img/cristal.png');
background-size: cover;
box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
border:none;
outline:none;
font: 18px Tahoma bold;
color: #ffffff;
text-shadow: 1px 1px 1px lighgrey;
margin:20px;
}

.rond2{
border-radius:50%;
width:100px;
height:100px;
background-image: url('../img/histoire.webp');
background-size: cover;
box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
border:none;
outline:none;
font: 18px Tahoma bold;
color: #ffffff;
text-shadow: 1px 1px 1px lighgrey;
margin:20px;
}

.rond3{
border-radius:50%;
width:100px;
height:100px;
background-image: url('../img/perso.jpeg');
background-size: cover;
box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
border:none;
outline:none;
font: 18px Tahoma bold;
color: #ffffff;
text-shadow: 1px 1px 1px lighgrey;
margin:20px;
}

.rond4{
border-radius:50%;
width:100px;
height:100px;
background-image: url('../img/arcs.jpeg');
background-size: cover;
box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
border:none;
outline:none;
font: 18px Tahoma bold;
color: #ffffff;
text-shadow: 1px 1px 1px lighgrey;
margin:20px;
}

.rond5{
border-radius:50%;
width:100px;
height:100px;
background-image: url('../img/multi.jpeg');
background-size: cover;
box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
border:none;
outline:none;
font: 18px Tahoma bold;
color: #ffffff;
text-shadow: 1px 1px 1px lighgrey;
margin:20px;
}

.rond6{
border-radius:50%;
width:100px;
height:100px;
background-image: url('../img/Toriyama.jpeg');
background-size: cover;
box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
border:none;
outline:none;
font: 18px Tahoma bold;
color: #ffffff;
text-shadow: 1px 1px 1px lighgrey;
margin:20px;
}

.rond7{
border-radius:50%;
width:100px;
height:100px;
background-image: url('../img/actu.jpeg');
background-size: cover;
background-position: center;
box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
border:none;
outline:none;
font: 18px Tahoma bold;
color: #ffffff;
text-shadow: 1px 1px 1px lighgrey;
margin:20px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 0;
}